<!--The content below is only a placeholder and can be replaced.-->
<div>
  <table>
    <tr>
      <th>name</th>
      <th>available</th>
      <th>onOrder</th>
      <th>total</th>
      <th *ngFor="let simbol of getSimbols()">{{simbol}}</th>
      <th>$$$</th>
    </tr>
    <tr *ngFor="let binanceExchangeBalance of binanceExchangeBalances; let x = index">
      <td>{{binanceExchangeBalance.name}}</td>
      <td>{{binanceExchangeBalance.available}}</td>
      <td>{{binanceExchangeBalance.onOrder}}</td>
      <td>{{totalAmountOfCoins(binanceExchangeBalance.available, binanceExchangeBalance.onOrder)}}</td>
      <td *ngFor="let simbol of getSimbols(); let y = index">{{ifIndexExist(x,y)}}</td>
      <td>{{totalMoney(totalAmountOfCoins(binanceExchangeBalance.available, binanceExchangeBalance.onOrder),x )}}</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>{{totalbincoins}}</td>
    </tr>
  </table>

</div>

