<!--The content below is only a placeholder and can be replaced.-->
<div>
  <table *ngIf="binanceBalances">
    <tr>
      <th  *ngFor="let balance of binanceBalances">{{balance}}</th>
    </tr>

    <!--<tr *ngFor="let balance of binanceBalances">-->
      <!--<td>{{ balance.name }}</td>-->
      <!--<td>{{ balance.available }}</td>-->
      <!--<td>{{ balance.onOrder }}</td>-->
      <!--<td>{{ balance.total }}</td>-->
      <!--<td>{{ balance.BTC }}</td>-->
      <!--<td>{{ balance.ETH }}</td>-->
      <!--<td>{{ balance.BNB }}</td>-->
      <!--<td>{{ balance.USDT }}</td>-->
      <!--<td>{{ balance.totalPrice }}</td>-->
    <!--</tr>-->

    <!--<tr>-->
      <!--<td></td>-->
      <!--<td></td>-->
      <!--<td></td>-->
      <!--<td></td>-->
      <!--<td></td>-->
      <!--<td></td>-->
      <!--<td></td>-->
      <!--<td></td>-->
      <!--<td>{{ totalBalance }}</td>-->
    <!--</tr>-->
  </table>

</div>

