<!--The content below is only a placeholder and can be replaced.-->
<div>
  <table>
    <tr>
      <th>name</th>
      <th>available</th>
      <th>onOrder</th>
      <th>total</th>
      <th *ngFor="let simbol of getSimbols()">{{simbol}}</th>
      <th>$$$</th>
    </tr>

    <tr *ngFor="let balance of balancesInfo">
      <td>{{ balance.name }}</td>
      <td>{{ balance.available }}</td>
      <td>{{ balance.onOrder }}</td>
      <td>{{ balance.total }}</td>
      <td>{{ balance.BTC }}</td>
      <td>{{ balance.ETH }}</td>
      <td>{{ balance.BNB }}</td>
      <td>{{ balance.USDT }}</td>
      <td>{{ balance.totalPrice }}</td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>{{ totalBalance }}</td>
    </tr>
  </table>

</div>

